.newsletter h2 {
    font-size: var(--font-size-m);
    color: var(--cinza-escuro-1);
    padding-bottom: var(--padding-m);
    text-transform: uppercase;

    @media (max-width: 768px) {
        font-size: var(--font-size-s);
        padding-bottom: var(--padding-s);

        @media (max-width: 390px) {
            padding: 0 var(--padding-xxl) var(--padding-s) var(--padding-xxl);
        }
    }
}

.newsletter input {
    background-color: transparent;
    background-image: url(../img/icon-arrow-input-right-desktop.svg);
    background-repeat: no-repeat;
    background-position: 94% 50%;
    color: var(--branco);
    border-radius: 100px;
    border: 2px solid var(--branco);
    width: 40%;
    padding: var(--padding-b) var(--padding-l);

    @media (max-width: 768px) {
        background-size: 20px;
        padding: var(--padding-s) var(--padding-b);

        @media (max-width: 390px) {
            width: 80%;
        }
    }
}

.newsletter input::placeholder {
    font-size: var(--font-size-m);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--branco);
    padding-left: var(--padding-l);

    @media (max-width: 1200px) {
        font-size: var(--font-size-s);

        @media (max-width: 768px) {
            font-size: var(--font-size-b);
        }
    }
}

.newsletter {
    width: 100%;
    background-color: var(--verde-2);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: var(--padding-xl) 0;

    @media (max-width: 768px) {
        padding: var(--padding-l) 0;
    }
}

.newsletter div {
    width: 100%; 
}